---
import ChargeSection from "../components/ChargeSection.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingFooter from "../components/LandingFooter.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";


const OPCION_MENU = [
    {
        text: "Model 3",
        url: "#model-3",
    },
    {
        text: "Model X",
        url: "#model-x",
    },
    {
        text: "Model Y",
        url: "#model-y",
    },
    {
        text: "Cybertruck",
        url: "#cybertruck",
    },
    {
        text: "Powerwall",
        url: "#powerwall",
    },
];

---

<Layout title="TESLA">
	<LandingHeader navOptions={OPCION_MENU}/>
	<main
		class="relative w-full h-screen overflow-x-hidden overflow-y-auto snap-y snap-mandatory scroll-smooth"
	>
		<div class="snap-start">
			<HeroSection
				title="Disfrute de Tesla"
				subtitle="Programe una prueba de conducci贸n hoy mismo"
				video="Homepage-Desktop.webm"
				idSection="hero-section"
			/>
		</div>
		<div class="snap-start">
			<ChargeSection
				title="Model 3"
				subtitle="Concertar una prueba de conducci贸n hoy mismo"
				image="/images/Model-3-Desktop.avif"
				colorMenu="black"
				idSection="model-3"
			/>
		</div>
		<div class="snap-start">
			<ChargeSection
				title="Model Y"
				subtitle="Concertar una prueba de conducci贸n"
				image="/images/Model-Y-Desktop.avif"
				colorMenu="black"
				idSection="model-y"
			/>
		</div>
		<div class="snap-start">
			<ChargeSection
				title="Model S"
				subtitle="Programe una consulta virtual"
				image="/images/Model-S-Desktop.avif"
				idSection="model-s"
			/>
		</div>
		<div class="snap-start">
			<ChargeSection
				title="Model X"
				subtitle="Programe una consulta virtual"
				image="/images/Model-X-Desktop.avif"
				colorMenu="black"
				idSection="model-x"
			/>
		</div>
		<div class="snap-start">
			<ChargeSection
				title="Cybertruck"
				subtitle="Concertar una prueba de conducci贸n"
				image="/images/Cybertruck-Desktop.avif"
				colorMenu="black"
				idSection="cybertruck"
			/>
		</div>
		<div class="snap-start">
			<ChargeSection
				title="Panel Solar y Powerwall"
				subtitle="Potencia todo"
				image="/images/Powerwall-Desktop.avif"
				colorMenu="black"
				idSection="powerwall"
			/>
		</div>
		<footer class="snap-start">
			<LandingFooter
				title="Accesorios"
				subtitle=""
				image="/images/Accessories-Desktop.avif"
				colorMenu="black"
				idSection="accessories"
			/>
		</footer>
	</main>
</Layout>
