<section class="flex flex-row justify-around flex-wrap items-center pt-28">
    <article class="text-center" >
        <h2 class="font-semibold text-xl pb-4">Model S</h2>
        <a
        class="text-white border-[0px] border-[#393c40] bg-[#393c40] backdrop-blur-sm rounded-lg font-medium lg:px-12 md:px-8 px-3 py-2 inline-block hover:bg-opacity-40 hover:backdrop-blur-sm hover:text-black transition-colors duration-300"
        href="#"
    >
        Ordenar ahora
    </a>
    </article>
    <img class="sm:w-[40%]" src="/images/model-s/MS-Footer-Desktop.avif" alt="" />
</section>
<footer >
    <p class="text-[8pt] text-gray-600 text-center px-10 lg:px-[20%] py-14">
        Ciertas funciones del vehículo que utilizan grandes volúmenes de datos
        requieren al menos Conectividad estándar, incluidos mapas, navegación y
        comandos de voz. El acceso a las funciones que utilizan datos móviles y
        licencias de terceros está sujeto a cambios.<span class="underline-offset-4">Obtenga más información
        sobre la Conectividad estándar y sus limitaciones.</span>
    </p>
    <p class="text-[10pt] text-gray-600 text-center py-3">
        Tesla © 2023 - Privacidad y legal - Contacto - Noticias - Seguir
        informado - Localización de tiendas
    </p>
</footer>
