---
const { title, subtitle,id } = Astro.props;
---

<div class='w-52 border-t-2 border-black opacity-30 hover:opacity-100'>
    <h2 class='text-[10pt] mb-3 mt-3'>{title}</h2>
    <p class="text-[8pt] text-gray-400">{subtitle}</p>
</div>